body {
    font-family: 'Poppins', sans-serif;
}

.custom-navbar {
    background-color: rgb(83, 166, 166);
}

.logo-icon {
  font-size: 1.6rem;
  margin-top: 2px; /* abbassa leggermente l'icona */
}


/* Escludi solo il logo (in modo diretto) */
.logo-text {
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
}

.card-title {
    font-weight: 600;
    color: #2f4f4f;
}

.btn-outline-success {
    border-radius: 20px;
    padding: 6px 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-outline-success:hover {
    background-color: rgb(83, 166, 166);
    color: white;
    border-color: rgb(83, 166, 166);
}

.container {
    max-width: 1300px;
}
.rating-stars {
  white-space: nowrap;
  min-width: 130px;
}

.rating-stars i {
  font-size: 1rem;
}

.text-lightgray {
  color: #cccccc !important;
}

.custom-card-border {
  border: 6px solid rgb(83, 166, 166); 
  border-radius: 12px;
  background-color: #f8fdfc;   
}
.custom-header {
  background: linear-gradient(to right, rgb(83, 166, 166), rgb(153, 204, 204), rgb(180, 218, 218));
  color: white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 16px;
}

.custom-edit-btn {
  background-color: #53a6a6;         /* colore coerente con navbar */
  color: white;
  border: none;
  padding: 8px 16px;
  font-weight: 600;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.custom-edit-btn:hover {
  background-color: #3e8d8d;         /* colore al passaggio del mouse */
  color: white;
}

.custom-edit-btn:focus {
  background-color: #3e8d8d !important;         /* colore al passaggio del mouse */
  color: rgb(0, 0, 0);
}
.action-icon {
  color: gray;
  font-size: 1.2rem;
  transition: color 0.2s ease;
  text-decoration: none;
}

.action-icon:hover {
  color: #000;
}
